pipeline/Data Ingestion from Git to ADLS.json
{
	"name": "Data Ingestion from Git to ADLS",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.DataIngestionfromJson",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDatafromGit",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CopydatafromGit",
									"type": "DatasetReference",
									"parameters": {
										"Copydatafromgit": {
											"value": "@item().Copydatafromgit",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CopydatafromGit",
						"type": "DatasetReference",
						"parameters": {
							"Copydatafromgit": {
								"value": "@pipeline().parameters.copydatafromgit",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"DataIngestionfromJson": {
				"type": "array",
				"defaultValue": [
					{
						"Copydatafromgit": "Olympics/blob/main/Coaches.csv",
						"filename": "Coaches.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/athletes.csv",
						"filename": "athletes.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/medals.csv",
						"filename": "medals.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/teams.csv",
						"filename": "teams.csv"
					}
				]
			},
			"copydatafromgit": {
				"type": "Array",
				"defaultValue": [
					{
						"Copydatafromgit": "Olympics/blob/main/Coaches.csv",
						"filename": "Coaches.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/athletes.csv",
						"filename": "athletes.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/medals.csv",
						"filename": "medals.csv"
					},
					{
						"Copydatafromgit": "Olympics/blob/main/teams.csv",
						"filename": "teams.csv"
					}
				]
			}
		},
		"annotations": []
	}
}